// Reset.less
// Adapted from Normalize.css http://github.com/necolas/normalize.css
// ------------------------------------------------------------------------

// Display in IE6-9 and FF3
// -------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

// Base settings
// -------------------------

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
// Hover & Active
a:hover,
a:active {
  outline: 0;
}


// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

html, body{ margin:0; padding:0; }
html{
	height: 100%;
	background-color: #CEC5BA;
	background-image: -webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		-webkit-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		-webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
	font-family: Arial, sans-serif;
	text-shadow:1px 1px 0 #eee;
	color:#222;
	-webkit-transition:background-color .5s ease-out;
}
body{ padding-top:80px; }

h1{ font-family: 'Fredoka One', cursive; }
nav{
	position:fixed;
	top:0;
	width:100%;
	height:40px;
	background-color:#222;
	background-image:-webkit-linear-gradient(top, transparent, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03));
	line-height:40px;
	font-family: 'Fredoka One', cursive;
	a{
		float:left;
		padding:0 20px;
		color:white;
		text-shadow:none;
		font-weight:normal;
		font-size:18px;
		text-decoration:none;
		-webkit-transition:all .2s ease-out;
		&:hover{
			-webkit-transform:scale(1.2);
		}
	}
}

.content{
	background-color:white;
	margin:0 auto;
	width:840px;
	box-shadow:1px 1px 6px #999;
	padding:30px;
	border-radius:5px;
}

.cube{
	position:fixed;
	top:90px;
	right:42px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:rotatex(-5deg) rotatey(-5deg) rotatez(0deg);
	-webkit-transition:all .5s ease-out;
	font-size:64px;
	font-family: 'Fredoka One', cursive;
	ul{
		position:relative;
		list-style:none;
		width:100px;
		height:100px;
		margin:0;
		padding:0;
		li{
			display:block;
			width:100px;
			height:100px;
			position:absolute;
			box-shadow:inset 0 0 1px #000;
			text-align:center;
			line-height:100px;
			span{
				display:block;
				width: 100px;
				height: 100px;
				-webkit-transform: rotateY(-160deg);
				&.fifthSpan{
					-webkit-transform:rotatex(-160deg);
				}
			}
			&.front{
				background: -webkit-linear-gradient(top left, white, #D4A6F2 30%, rgba(170, 127, 190, 0.9), #5F0345);
				top:0;
				left:0;
			}
			&.back{
				background:-webkit-linear-gradient(top left, white, #EE6565 30%, rgba(211, 60, 60, 0.9), #A50404);
				top:0;
				left:0;
				-webkit-transform: translateZ(-100px);
			}
			&.bottom{
				background:-webkit-linear-gradient(top left, white, #9BE0D5 30%, rgba(60, 211, 151, 0.9), #047EA5);
				top:0;
				left:0;
				-webkit-transform-origin: right bottom;
				-webkit-transform: rotateX(90deg);
			}
			&.top{
				background:-webkit-linear-gradient(top left, white, #DDD 30%, rgba(173, 173, 173, 0.9), #8F918F);
				top:0;
				left:0;
				-webkit-transform-origin: right top;
				-webkit-transform: rotateX(-90deg);
			}
			&.left{
				background:-webkit-linear-gradient(top left, white, #DBE09B 30%, rgba(132, 211, 60, 0.9), #0AA504);
				top:0;
				left:0;
				-webkit-transform-origin: left bottom;
				-webkit-transform: rotateY(90deg);
			}
			&.right{
				background: -webkit-linear-gradient(top left, white, #A6D4F2 30%, rgba(127, 170, 190, 0.9), #0F4355);
				top:0;
				right:0;
				-webkit-transform-origin: right bottom;
				-webkit-transform: rotateY(-90deg);
			}
		}
	}
}

.second .cube{ -webkit-transform:rotatex(-5deg)  rotatey(-95deg)  rotatez(0deg);  top:85px;  right:87px;   }
.third .cube { -webkit-transform:rotatex(-5deg)  rotatey(-185deg) rotatez(0deg);  top:81px;  right:33px;    }
.fourth .cube{ -webkit-transform:rotatex(-5deg)  rotatey(-275deg) rotatez(0deg);  top:86px;  right:-12px; }
.fifth .cube { -webkit-transform:rotatex(-93deg) rotatey(0deg)    rotatez(-5deg); top:137px; right:38px;   }
.sixth .cube { -webkit-transform:rotatex(87deg)  rotatey(0deg)    rotatez(5deg);  top:37px;  right:38px;   }